<div class="pull-right" ng-if="isAdmin()">
  <a href="/#/edit" class="btn btn-primary">Edit</a>
  <a href="/#/blog" class="btn btn-danger" ng-click="deletePost()">Delete</a>
</div>

<h1> {{ post.title }} </h1>
<h5>posted on: {{ post.createDate | date:'MM/dd/yyyy @ h:mma' }}</h5>
<div class="textarea">
  <div ng-bind-html="post.post"></div>
</div>

<div>
  <div ng-repeat="comment in post.comments" class="comment">
    <div>{{ comment.comment }}</div>
    <div>By: {{ comment.author }}</div>
    <div>On: {{ comment.createDate | date:'MM/dd/yyyy @ h:mma' }}</div>
  </div>
</div>

<div>
  <textarea style="color:black" ng-model="$parent.newComment" placeholder="New comment..."
    rows="5" cols="30"></textarea><br>
  <input style="color:black" ng-model="author" placeholder="Insert name">
  <button ng-click="addComment()" class="btn btn-default">Comment</button>
</div>
