<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#/blog">Kaylyn's Blog</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li ng-class='{active: vm.isActive("/")}'><a href="/#/">Home</a></li>
        <li ng-class='{active: vm.isActive("/blog")}'><a href="/#/blog">Blog</a></li>
        <li ng-class='{active: vm.isActive("/galvanize")}'><a href="/#/galvanize">About Galvanize</a></li>
        <li ng-class='{active: vm.isActive("/contact")}'><a href="/#/contact">Contact</a></li>
        <li ng-if="vm.isAdmin()" ng-class='{active: vm.isActive("/new")}'><a href="/#/new">New Post</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!vm.isAuthenticated()"><a href="/#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li ng-if="!vm.isAuthenticated()"><a href="/#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li ng-if="vm.isAuthenticated()" ng-controller="LogoutController">
          <a href="/#/home" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
        <li ng-if="vm.isAuthenticated()"><a>Welcome, {{ vm.user }}</a></li>
      </ul>
    </div>
  </div>
</nav>
